################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DnnPackager/obj
/src/DnnPackager/bin
/src/DnnPackager.Tasks/bin
/src/DnnPackager.Tasks/obj
/src/DnnPackager.TestModule/bin
/src/DnnPackager.TestModule/obj
/src/DnnPackager.Tests/bin
/src/DnnPackager.Tests/obj
/src/.vs
/src/DnnPackager.CpsProjectSupport/bin
/src/DnnPackager.Core/bin
/src/DnnPackager.Core/obj
/src/DnnPackager.CpsProjectSupport/obj
